<div class="header-section cells-left-header-section">
    <span class="cells-left-icon"></span>
    <span class="cells-left-text">@CellsLeft</span>
</div>

@code
{
    [Parameter] 
    public required int CellsLeft { get; set; }
}