<div class="life-arena-header">
    <SquareButtonsHeaderSection @ref="_squareButtonsHeaderSection"/>
    <GenerationHeaderSection Generation="Generation"/>
    <TimeUntilNextGenerationHeaderSection @ref="_timeUntilNextGenerationHeaderSection"
        Generation="Generation" NextGenerationInterval="NextGenerationInterval"/>
    <CellsLeftHeaderSection CellsLeft="CellsLeft"/>
    <ZoomHeaderSection @ref="_zoomHeaderSection"/>
</div>