<div class="life-arena-header">
    <div class="header-section">
        <button class="button square-button"><i class="bi bi-question"></i></button>
        <a href="https://discord.com/invite/sq5AGyKntC" target="_blank">
            <button class="button square-button"><i class="bi bi-discord"></i></button>
        </a>
        <a href="https://github.com/Avangardum/LifeArena" target="_blank">
            <button class="button square-button"><i class="bi bi-github"></i></button>
        </a>
    </div>
    <div class="header-section">
        <i class="bi bi-hourglass-split generation-icon"></i>
        <span class="generation-text">@Generation</span>
    </div>
    <div class="header-section">
        <div class="time-until-next-generation-text">@TimeUntilNextGeneration.TotalSeconds.ToString("0.0")</div>
        <span class="time-until-next-generation-clock" style="@TimeUntilNextGenerationClockStyle"></span>
    </div>
    <div class="header-section">
         Cells left   
    </div>
    <div class="header-section">
         Zoom slider
    </div>
</div>