<div class="life-arena-header">
    <SquareButtonsHeaderSection/>
    <GenerationHeaderSection Generation="Generation"/>
    <TimeUntilNextGenerationHeaderSection @ref="_timeUntilNextGenerationHeaderSection" 
                                          Generation="Generation" NextGenerationInterval="NextGenerationInterval"/>
    <CellsLeftHeaderSection CellsLeft="CellsLeft"/>
    <ZoomHeaderSection/>
</div>