<div class="header-section square-buttons-header-section">
    <button class="button square-button" @onclick="OnHelpClicked"><i class="bi bi-question"></i></button>
    <a href="https://discord.com/invite/sq5AGyKntC" target="_blank">
        <button class="button square-button"><i class="bi bi-discord"></i></button>
    </a>
    <a href="https://github.com/Avangardum/LifeArena" target="_blank">
        <button class="button square-button"><i class="bi bi-github"></i></button>
    </a>
</div>