<div class="header-section time-until-next-generation-header-section">
    <div class="time-until-next-generation-text">@TimeUntilNextGeneration.TotalSeconds.ToString("0.0")</div>
    <span class="time-until-next-generation-clock" style="@TimeUntilNextGenerationClockStyle"></span>
</div>