<div class="header-section zoom-header-section">
    <button class="zoom-button"><span class="zoom-button-text-minus">-</span></button>
    <input class="zoom-slider" type="range" min="0" max="100" value="30"/>
    <button class="zoom-button"><span class="zoom-button-text-plus">+</span></button>
</div>