<div class="header-section zoom-header-section">
    <button class="zoom-button" @onclick="OnMinusClick"><span class="zoom-button-text-minus">-</span></button>
    <input class="zoom-slider" type="range" min="0" max="@ZoomSliderMaxValue" @bind="ZoomSliderValue" @bind:event="oninput"/>
    <button class="zoom-button" @onclick="OnPlusClick"><span class="zoom-button-text-plus">+</span></button>
</div>