@page
@model Avangardum.LifeArena.Server.Pages.GithubLinks

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Github Links</title>
    <link rel="stylesheet" href="Styles/site.css"/>
</head>
<body>
<p><a href="https://github.com/Avangardum/LifeArenaServer">LifeArenaServer</a></p>
<p><a href="https://github.com/Avangardum/LifeArenaUnityClient">LifeArenaUnityClient</a></p>
<p><a href="https://github.com/Avangardum/LifeArenaShared">LifeArenaShared</a></p>
</body>
</html>